version: '3.8'

services:
  react-prod:
    container_name: nivu_soft_prod
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    environment:
      - NODE_ENV=production
